<!DOCTYPE html>
<html>
<head>
	<title>Chat App example</title>
	<link rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>

	<div class="chatbox">
		<div class="cls_information_box" id="id_information_box">
			<p class="cls_information" id='id_information'>Connecting to server...</p>
		</div>
		<div class="chatlogs" id="id_chat_logs">
		</div>
		<div class="chat-form">
			<textarea id="txt_texbox" disabled></textarea>
			<button id ="btn_command">Disconnect</button>
		</div>
	</div>
	
	<script type="text/javascript">
		var ws=null;
		window.onload = function()
		{;
			txt_texbox = document.getElementById("txt_texbox");
			btn_command = document.getElementById("btn_command");
			elm_information=document.getElementById("id_information");
			div_chat_logs=document.getElementById("id_chat_logs");
			txt_texbox.addEventListener("keyup",keyupHandler,false);
			btn_command.addEventListener('click',commandHandler,false);
			connect();
		};
		
		function keyupHandler(event)
		{
			event.preventDefault();
			if (event.keyCode == 13) 
			{
				addChatSelf(document.getElementById("txt_texbox"));
			}
		}
		
		function messageHandler(data)
		{
			console.log(data.data);
			var obj = JSON.parse(data.data);
			if(null != obj)
			{
				if(obj.from=="System")
				{
					handleSystemMessage(obj.message);
				}
				else
				{
					addChatStranger(obj.message);
				}
			}
		} 
		
		function handleSystemMessage(message)
		{
			console.log("into handleSystemMessage " + message);
			if(message=="PartnerDisconnection")
			{
				console.log("PartnerDisconnection");
				elm_information.innerHTML ="Stranger disconnected";
				txt_texbox.disabled=true;
				btn_command.innerHTML="Connect";
				disconnect();
			}
			else if(message=="PartnerConnection")
			{
				console.log("PartnerConnection");
				txt_texbox.disabled=false;
				elm_information.innerHTML="Connected with stranger"
				btn_command.innerHTML="Disconnect";
			}
		}
		
		function commandHandler()
		{ 
			console.log("into commandHandler  " + btn_command.innerHTML)
			if(btn_command.innerHTML=="Disconnect")
			{
				elm_information.innerHTML ="You've disconnected";
				txt_texbox.disabled=true;
				btn_command.innerHTML="Connect";
				disconnect();
			}
			else if(btn_command.innerHTML=="Connect")
			{
				location.reload();
			}
		}
		
		function addChatSelf(msg)
		{	
			if(null != msg.value && msg.value.trim() != "" )
			{
				div_new = '<div class="chat self">';
				div_new += '<div class="user-photo"></div>';
				div_new += '<p class="chat-message">' + msg.value + '</p>'
				div_new += '</div >';
				div_chat_logs.innerHTML=div_chat_logs.innerHTML + div_new;
				ws.send(msg.value);
				msg.value="";
				div_chat_logs.scrollTop = div_chat_logs.scrollHeight;
			}
			else
			{
				msg.value="";
			}
		}
		
		function addChatStranger(msg)
		{
			if(null != msg && msg.trim() != "" )
			{
				div_new = '<div class="chat friend">';
				div_new += '<div class="user-photo"></div>';
				div_new += '<p class="chat-message">' + msg + '</p>'
				div_new += '</div >';
				div_chat_logs.innerHTML=div_chat_logs.innerHTML + div_new;
				msg.value="";
				div_chat_logs.scrollTop = div_chat_logs.scrollHeight;
			}
			else
			{
				msg.value="";
			}
		}
		
		function onOpen(evt)
		{
			elm_information.innerHTML ="Connecting to stranger... "
		}
		 
		function connect() {
			disconnect();
			ws = new WebSocket('ws://localhost:8080/ano');
			ws.onopen = function(evt) {onOpen(evt); };
			ws.onmessage = function(data){
				messageHandler(data)
			}
		}
		
		function disconnect() {
		    if (ws != null) {
		        ws.close();
				ws=null;
		    }		  
		}
	</script>
</body>
</html>